<button class="btn btn-sm" (click)="setDrawMode('rect')">Rectangle</button>
<button class="btn btn-sm" (click)="setDrawMode('circle')">Circle</button>
<button class="btn btn-sm" (click)="setDrawMode('triangle')">Triangle</button>
<button class="btn btn-sm" (click)="setDrawMode('ellipse')">Ellipse</button>
<button class="btn btn-sm" (click)="setDrawMode('line')">Line</button>
<button class="btn btn-sm" (click)="setDrawMode('free-draw')">Free Draw</button>
<canvas id="canvas" width="1400px" height="700px" style="border: 1px solid gray; display: block;"></canvas>
